body{
  text-align:center;
  height:70vh;
  display:flex;
  flex-flow:column;
  justify-content:center;
  align-items:center;
  color: black;
  background-color: black;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;  background: -webkit-linear-gradient(
   -70deg,
    #9400D3,
      #4B0082,
      #0000FF,
      #00FF00,
      #FFFF00,
      #FF7F00,
      #FF0000
  );
  background-size: 1000% 1000%;
  animation: gradient 35s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.link{
  color: white;
}